:root {
  --orange: #f2a247;
  --dark-orange: #db863c;
}

.container {
  height: 130px;
  width: 250px;
  scale: 0.3;
  rotate: -180deg;
}

@keyframes bodyJump {
  from {
    transform: translateY(-0.3rem);
  }
  to {
    transform: translateY(0.3rem);
  }
}

.body {
  width: 9rem;
  height: 4rem;
  margin-top: 10rem;
  position: relative;
  z-index: 0;
  border-radius: 0 0 2rem 2rem;
  will-change: transform;
  animation: bodyJump 0.13s ease-in-out infinite alternate;

  &:after {
    content: "";
    width: 9rem;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 0 2rem 2rem;
    background-color: var(--orange);
  }
}

@keyframes ear {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(-5deg);
  }
}

.ear {
  width: 1rem;
  height: 3rem;
  border-radius: 2rem;
  position: absolute;
  top: -0.7rem;
  left: 0.2rem;
  background-color: var(--orange);
  transform-origin: 50% 100%;
  will-change: transform;
  animation: ear 0.2s ease-in-out infinite alternate;
}

@keyframes backEar {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(15deg);
  }
}

.backEar {
  width: 1rem;
  height: 3rem;
  border-radius: 2rem;
  position: absolute;
  top: -0.7rem;
  left: 1rem;
  top: -0.8rem;
  z-index: -1;
  background-color: var(--dark-orange);
  transform-origin: 50% 100%;
  will-change: transform;
  animation: backEar 0.2s ease-in-out infinite alternate-reverse;
}

@keyframes headTilt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(5deg);
  }
}

.head {
  width: 3.2rem;
  height: 5.7rem;
  border-radius: 2rem 2rem 0 0;
  background-color: var(--orange);
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
  transform-origin: 0 100%;
  animation: headTilt 0.2s ease-in-out infinite alternate;

  &:after {
    content: "";
    width: 3.2rem;
    height: 5.7rem;
    border-radius: 2rem 2rem 0 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
  }
}

.snout {
  width: 5rem;
  height: 3.2rem;
  border-radius: 0 1rem 1rem 0;
  background-color: var(--orange);
  position: absolute;
  top: 1.1rem;
  left: 1rem;
}

.nose {
  width: 1.5rem;
  height: 1.5rem;
  position: absolute;
  top: -0.4rem;
  right: -0.4rem;
  border-radius: 50%;
  background-color: #000;
}

.eye {
  margin: 2rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: radial-gradient(circle at center, #000 10%, transparent 11%)
      1.3rem 0px/100% 100% no-repeat,
    radial-gradient(circle at center, var(--orange) 0.5rem, transparent 0.5rem)
      0 0/100% 100% no-repeat,
    linear-gradient(to bottom, var(--orange) 70%, transparent 70%) 0 0/100% 100%
      no-repeat,
    #000;
  position: absolute;
  top: -2.6rem;
  left: -1.5rem;
  z-index: 1;
}

.collar {
  height: 0.9rem;
  position: absolute;
  left: -0.1rem;
  right: -0.1rem;
  bottom: 0;
  z-index: 1;
  border-radius: 0.3rem;
  background-color: #000;
}

.tag {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  position: absolute;
  right: -0.6rem;
  bottom: -0.5rem;
  background-color: #79964d;
}

.frontLegs {
  position: absolute;
  top: 70%;
  right: 2rem;
  z-index: -1;
  transform: translateY(0);
}

.backLegs {
  position: absolute;
  top: 70%;
  left: 1.4rem;
  z-index: -1;
}

@keyframes legs {
  from {
    transform: rotate(-35deg);
  }
  to {
    transform: rotate(35deg);
  }
}

.frontLeg {
  width: 1rem;
  height: 3rem;
  border-radius: 2rem;
  position: absolute;
  top: 80%;
  background-color: var(--orange);
  transform-origin: 50% 0;
  will-change: transform;
  animation: legs 0.4s ease-in-out infinite alternate;
}

.backLeg {
  width: 1rem;
  height: 3rem;
  border-radius: 2rem;
  position: absolute;
  top: 80%;
  right: -1rem;
  z-index: -1;
  background-color: var(--dark-orange);
  transform-origin: 50% 0;
  will-change: transform;
  animation: legs 0.4s ease-in-out infinite alternate-reverse;
}

@keyframes tailTilt {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-30deg);
  }
}

.tail {
  width: 0.8rem;
  height: 2.5rem;
  border-radius: 2rem;
  position: absolute;
  bottom: 70%;
  left: 1%;
  background-color: var(--orange);
  transform-origin: 50% 100%;
  animation: tailTilt 0.2s ease-in-out infinite alternate;
}

#helmet {
  position: absolute;
  height: 140px;
  width: 140px;
  left: 65px;
  top: -135px;
  border-radius: 70px;
  border: 2px solid rgb(166, 166, 166);
  outline: 1px solid rgb(196, 196, 196);
  animation: headbob 0.5s infinite alternate ease-in-out;
  transform-origin: bottom;
  z-index: 10;
}

#helmet_glass {
  height: 140px;
  width: 140px;
  border-radius: 70px;
  background-color: rgba(134, 128, 197, 0.307);
}

#helmet_bottom {
  position: absolute;
  width: 82px;
  height: 20px;
  top: 120px;
  left: 15px;
  border-radius: 108px;
  background-color: #39beff;
  rotate: 10deg;
}
